{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Homepage{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<nav>
    <p>Navigation</p>
</nav>

<div class="container-fluid d-flex p-4 flex-column">
    <div>
        <div class="d-flex flex-column align-self-center align-items-center">
            <form method="POST" action="{% url 'add_todo' %}">
                {% csrf_token %}
                {{add_todo.body|as_crispy_field}}
                <button type="submit">Add</button>
            </form>
            <p><a class="btn btn-light m-2"style="text-decoration: none" href="{% url 'delete_completed' %}">Delete completed</a></p>
        </div>
    </div>
    <div class="w-25 align-self-center">
        {% for item in todos %}
            <div class="d-flex justify-content-center flex-column m-4 align-items-center">
                {% if  item.completed%}
                    <del style="word-wrap: break-word; font-size: 1.5rem">{{item.body}}</del>
                    <del><small class="text-muted">{{item.created_at.time}}</small></del>
                {% else %}
                    <a href="{% url 'complete_todo' item.id%}" style="text-decoration: none; color: black; word-wrap: break-word; font-size: 1.5rem">{{item.body}}</a>
                    <small class="text-muted">{{item.created_at.time}}</small>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
